[Unit]
Description=Responder service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/responder
ExecStart=npm run start
Restart=always
LimitNOFILE=65536
[Install]
WantedBy=multi-user.target